td {
	background-color: rgb(255, 255, 255);
}

td:hover {
	/* hover完成的动作是鼠标放到的时候使用放到的颜色,离开的时候改回原色 */
	/* 使用颜色给用户提示会增加不必要的判断逻辑,最好该用大小提示用户 */
	/* background-color: aqua; */

	/* 动画是一个好东西! */
	transition: 0.25s;
	transform: scale(1.4545, 1.34);
	transform-origin: center;

	cursor: pointer;
}

button:hover {
	transition: 0.25s;
	transform: scale(1.4545, 1.34);
	transform-origin: center;
}

#content {
	margin: 0 auto;
	width: 400px;
}

#func {
	float: left;
	width: 300px;
}


#hook{
	height: 100%;
	width: 20px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #ccc;
	transition: 0.5s;
	padding-top: 60px;
}
#hook:hover{
	background-color: yellow;
}

#side {
	border-left: solid 3px rgb(149, 165, 166);
	padding-left: 30px;
	/* color: white; */
	height: 100%;
	/* width: 200px; */
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	/* 米白色 */
	background-color: rgb(255,250,232);
	
	padding-top: 60px;
	visibility: hidden;
}

